.title-two::after {
    content: '';
    position: absolute;
    width: 50%;
    background-color: #0060e4;
    height: 3px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.title-two::before {
    content: '';
    position: absolute;
    width: 50%;
    background-color: #0060e4;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;

}

.title::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #0060e4;
    height: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;

}

.title::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #0060e4;
    height: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;

}

.title:hover::before,
.title:hover::after {
    height: 100%;
    background-color: rgb(254, 201, 102);
}

.title-two:hover::before,
.title-two:hover::after {
    width: 100%;
    background-color: rgb(254, 201, 102);
}

p.title {
    transition: 0.9s;
}

p.title:hover {
    background-color: #0060e4;
    color: white;
}